
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Navigation bar */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
    height: 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10 !important;
    box-shadow: none;
    box-shadow: 0 5px 15px rgba(139, 69, 19, 0.25);
}

.navigation img {
    width: 30%;
    height: 10%;
}

/* Navigation items */
.items {
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    display: flex;
}

.items a {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

.items a:hover {
    background-color: whitesmoke;
    color: #333;
    
}

  
  /* Logo and image styling */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50%;
    height: 100%;
   /* object-fit: cover;  This ensures the image scales correctly */
   /* border-radius: 50%; /* Round the corners for a smooth blend */
    margin-right: 10px; /* Add some spacing between the image and text */
  }
  