.heading{
    
    font-style: italic;
    font-family: cursive;
}
.header{
    align-items: center;
    justify-content: center;
}
.load{
    display: block;
    margin: 0 auto;
    border-color: #007bff; /* Change the color to match your design */
  
}