.heading{
    
    font-style: italic;
    font-family: cursive;
}

.load{
    display: block;
    margin: 0 auto;
    border-color: #007bff; /* Change the color to match your design */
  
}
.Bbtn{
    width: 100%;
    height: 100%;

}